body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    
  }

  h1 {
    padding: 20px;
    text-align: center;
    color: #333;
    border-radius: 3px;
    background-color: #e6e9f1;
    border: 2px solid #333
  }
  
  th,td {
      
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    background-color: #dbe3f5;
  }

  input[type="number"] {
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    width: 50px;
    background-color: #e6e9f1;
    color: #333;
    

  }

  button {
    padding: 8px 16px;
    margin-left: 40px;
    font-size: 16px;
    background-color: #4f82fa;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
  }
  label{

      font-size: medium;
      margin-left: 40px;
      text-align: center;
  }

  button:hover {
    background-color: #93b0f4;
  }
  footer{
      margin-top: 50px;
      font-style: italic;
  }
  img{
    width: 50px;
    float: left;
    border: 2px solid #333;
  }